.content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.checked{
  text-decoration: line-through;
}

.info{
  width: 500px;
}

.content{
  margin-bottom: 10px;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-holder{
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  margin-top: 100px;
}

.btn-success{
  width: 75px;
}